aiodns
aiohttp
aiohttp-devtools
aiohttp-ratelimiter@git+https://github.com/SmartWasteSegregatorAndRoutePlanner/aiohttp-ratelimiter.git
aiohttp-swagger[performance]
# for optimal route
folium
osmnx
numpy
networkx
igraph
geopandas
pandas
pyrosm # requires cykhash
scikit-learn
